todo_project/               <-- корневая папка проекта
│
├── app.py                  <-- точка входа (запуск CLI или Flask)
│
├── db/                     <-- пакет для работы с базой
│   ├── __init__.py         <-- делает папку db пакетом
│   ├── database.py         <-- подключение к SQLite
│   └── models.py           <-- создание таблиц, SQL
│
├── services/               <-- пакет для логики задач
│   ├── __init__.py         <-- делает папку services пакетом
│   └── tasks.py            <-- функции CRUD (create_task, get_all_tasks ...)
│
├── cli/                    <-- пакет для интерфейса
│   ├── __init__.py         <-- делает папку cli пакетом
│   └── menu.py             <-- терминальный интерфейс
│
├── requirements.txt
└── README.md
